
:root {
    --accent-color: #E7E9FC;
    --light-mode-color: #F4F4FD;
    --secondery-text-color: #FFFFFF;
    --headings-text-color: #2E2F42;
    --pressed-state-color:#404BBF;
    --primaru-brand-color: #4D5AE5;
    --main-text-color: #434455;

}


body {
    font-family: 'Roboto', sans-serif;
}


.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
/*HEADER*/

/*--------LOGO--------*/

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--headings-text-color);
}
.header-web {
    color: var(--primaru-brand-color);
}


/*------NAV HEADER-------*/

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: var(--headings-text-color);
}
.header-link:hover,
.header-link:focus {
    color: var(--pressed-state-color);
}

/*------CONTACT------*/ 

.header-contact {
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
/* SLATE */
    color: var(--main-text-color);
}
.header-contact:hover,
.header-contact:focus {
/* OCEAN */
    color: var(--pressed-state-color);
}

/*--------HERO-------*/

.hero {
    background-color: var(--headings-text-color)
}
.hero-title {
    font-size: 56px;
    line-height: 1,07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondery-text-color);
}

/*------BTN------*/

.hero-btn {
    font-family: inherit;   
    font-weight: 500;
    font-size: 16px;
    line-height: 1,18;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--secondery-text-color);
}
.hero-btn {
    background: var(--primaru-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.hero-btn {
    cursor:pointer
}
.hero-btn:hover {
    background: var(--pressed-state-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/*-----SECTION------*/

.sektion-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1,2;
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: var(--headings-text-color);
    
}
.sektion-text {
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
     /* SLATE */
    color: var(--main-text-color);
}

/*--------FEATURES--------*/


.features-title {
    font-size: 36px;
    line-height: 1,11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--headings-text-color);

}

.team {
    background: var(--light-mode-color);
}

.team-caption {
    background: var(--secondery-text-color);
}

.team-caption {
    font-size: 36px;
    line-height: 1,11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--headings-text-color);
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1,2;
    text-align: center;
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: var(--headings-text-color);
}

.team-after-title {
    font-size: 16px;
    line-height: 1,5;
    text-align: center;
    letter-spacing: 0.02em;
    /* SLATE */
    color: var(--main-text-color);
}

/*-------FOOTER-------*/

.footer {
    background: var(--headings-text-color);
}
.footer-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1,17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* CLOUD */
    color: var(--light-mode-color);
}

.footer-link-logo {
    color:var(--primaru-brand-color);
}   
.footer-text {
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.02em;
    /* CORNFLOWER */
    color: var(--accent-color);
}

/*---------------PORTFOLIO------------------*/


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }


/*--------BTN-------*/
.caption-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    /* IRIS */
    color: var(--primaru-brand-color);
}
.caption-btn {  
    cursor:pointer;
}
.caption-btn:hover {
    background: var(--pressed-state-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--secondery-text-color);
}
/*----------CONTENT---------*/
.content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1,2;
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: var(--headings-text-color);
}
.content-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* SLATE */
    color: var(--main-text-color);
}